// Nextflow configuration for Google Cloud Batch
workDir = 'gs://wz-workload-viz-bucket/scratch'

process {
  executor = 'google-batch'
  container = 'nextflow/rnaseq-nf'
  errorStrategy = { task.exitStatus==14 ? 'retry' : 'terminate' }
  maxRetries = 5
}

google {
  project = 'wz-workload-viz'
  location = 'us-central1'
  batch.spot = true
  batch.serviceAccountEmail = 'nextflow-pipeline-sa@wz-workload-viz.iam.gserviceaccount.com'
}

timeline {
  enabled = true
  file = 'timeline.html'
  overwrite = true
}

report {
  enabled = true
  file = 'report.html'
  overwrite = true
}
